{
  "$schema": "https://json.schemastore.org/prettierrc",
  "arrowParens": "always",
  "printWidth": 80,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "crlf",
  "semi": false
}

